{% extends 'link/main.html' %}

{% block main_section %}
<div class="container">
  <div class="form fm min">
    <h1>{{ title }}</h1>
    <form method="POST" class="sub">
      {% csrf_token %}
      {{ form }}

      <section class="full-page fm">
        <br>
        <button class="reg" type="submit">Отправить <i class="fas fa-arrow-right"></i></button>
        <p>Уже зарегистрированы? &ensp;&ensp; <a class="exit" href="{% url 'user' %}"> Войти в личный кабинет</a></p>
      </section>
      </form>
    </div>
  </div>
{% endblock %}
